<h1>New cocktail</h1>
<hr>
<%= form_for(@cocktail) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>



<%= link_to cocktails_path do %>
  <i class="fa fa-history"></i> Back to list
<% end %>
